extends layout
include _mixins
block body
  .d-flex.justify-content-between
    h3.mt-4.mb-3 Timeline of different frameworks
    .mt-4
      include _reverse-btn
        
  include _loader
  ul#timeline.timeline
    include _timeline
